* {
  margin: auto;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/photo1.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.login-main {
  height: 80vh;
}

.login-head {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: flex;
}

.login-body {
  background-color: #ebe8e8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
}

.login-body form .username {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
}

.login-body form .password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.38);
}

.login-body form .submit {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}

.login-body form .submit:hover {
  background-color: black;
  color: white;
}

.head-logo {
  display: flex;
  margin-left: 100px;
}
